
.card{
  animation: mover 2s ease infinite alternate;
  background-color: #f39f3d;
  backdrop-filter: blur(10px) saturate(180%);
  background: rgba(255, 255, 255, 0.15); /* transparent white */
}

@keyframes mover {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(70px);
    transform: scale(1.1);
  }
}
.main{
  background: linear-gradient(orange, blue);
  background: url(../public/img2.jpg);
  background-position: center;
  background-size: cover;
}
.submit{
  background-color: #52448f;
}